<% layout('layout') %>
        <div class="section" style="padding: 20px;">
            <img src="/images/logo.png" alt="" style="height: 150px; width: 150px; border-radius: 50%;">
        </div>
        <br>
        <div class="head">
            <div class="ctrl">
                <p class="p30 str500">BARANGAY VALDEFUENTE</p>
            </div>
        </div>
        <hr>


        <div class="main">
        </div>