<% layout('layout') %>
<head>

    <style>
        .progress-container {
            width: 100%;
            background-color: #e0e0e0;
            border-radius: 8px;
            height: 30px;
            position: relative;
            overflow: hidden;
        }

        .progress-bar {
            height: 100%;
            width: 0;
            background-color: #4caf50;
            border-radius: 8px;
            transition: width 0.5s ease-in-out;
            text-align: center;
            line-height: 30px;
            color: white;
            font-weight: bold;
        }

        .progress-label {
            text-align: center;
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold;
        }
    </style>
</head>
<div class="borderRadius10 bgSoft padding0 gap10 relative">

    <div class=" blockX col overflow-y1 borderRadius10">
                <div class="abstractBG borderRadius10 padding25 col alignStart relative">
                    
                    <img src="/images/house.png" alt="" class="absolute bottom10 right10 h230 w230 index50">
                    <div class="height0 col gap10">
                        <p class="size40 white width50 textCenter">You have successfully added a new household!</p>
                        <a href="/hshView/<%= id %>" class="nav borderNone paddingBlock10 borderRadius10">View Household &nbsp; <i class="fas fa-chevron-right"></i></a>
                        <p class="size12 str400 white upperCase"></p>
                    </div>
                </div>
    </div>
</div>
